@font-face {
  font-family: "Alata";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Alata-Regular.woff2") format("woff2");
    
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/JosefinSans-Light.woff2") format("woff2");
}
