---
// Component imports
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import Intro from "../components/Intro.astro"
import Creations from "../components/Creations.astro"
import Footer from "../components/Footer.astro"
---

<BaseLayout title="Loopstudios | Landing Page">
  <Header />
  <main>
    <Intro />
    <Creations />
  </main>
  <Footer />
</BaseLayout>
