---
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
---

<BaseLayout title="Loopstudios | Landing Page">
  <Header />
  <main></main>
</BaseLayout>
