---
import Link from "./Link.astro"
---

<section class="section" aria-labelledby="creations-title">
  <div class="inner | container">
    <h2 class="heading-2" id="creations-title">Our creations</h2>
    <div class="image-grid"></div>
    <Link href="#" data-type="primary">see all</Link>
  </div>
</section>
