---

---

<li>
  <a href="#">About</a>
</li>
<li>
  <a href="#">Careers</a>
</li>
<li>
  <a href="#">Events</a>
</li>
<li>
  <a href="#">Products</a>
</li>
<li>
  <a href="#">Support</a>
</li>

<style lang="scss">
  @use "../sass/abstracts" as *;

  a {
    position: relative;
    text-decoration: none;
    color: $color-neutral-000;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 0.125rem;
      width: 0rem;
      translate: -50% 0.5rem;
      background-color: currentColor;
      transition: width 0.2s ease-out;
    }

    &:hover::after {
      width: 1.5rem;
    }
  }
</style>
